/* inicio da root*/
.button {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.2s;
  margin-left: 30px;
}

.button-primary {
  color: #6608c5;
  border: 2px solid #6608c5;
}
.button-primary:hover {
  color: #fff;
  background-color: #6608c5;
}

.button-secondary {
  color: #fff;
  border: 2px solid #fff;
}
.button-secondary:hover {
  color: #6608c5;
  background-color: #fff;
}

.button-tertiary {
  background: #6608c5;
  color: #fff;
  border: 2px solid #6608c5;
}
.button-tertiary:hover {
  color: #6608c5;
  background-color: #fff;
}

.button-medium {
  padding: 15px 20px;
  margin-left: 40%;
}

/*styles reset*/
* {
  box-sizing: border-box;
  padding: 5px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}

ul {
  padding: 0%;
  margin: 0%;
  list-style-type: none;
}

h2 {
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  line-height: 1.4;
}

/*end of styles reset*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header-content {
  text-align: center;
  /* max-width: 856px; */
}

.header-title span {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.4;
  color: #002324;
}
.header-title span span {
  color: #6608c5;
}

.about {
  position: relative;
  padding: 40px 0 120px;
  color: #fff;
  background-color: #6608c5;
  clip-path: polygon(0 0%, 100% 0%, 100% 88%, 0 100%);
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .about-content {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
  }
}

.about-img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  object-fit: scale-down;
}

.about-description {
  letter-spacing: 0.07em;
  padding: 10px;
  text-align: justify;
}

.about-quote {
  text-align: center;
}

@media (min-width: 992px) {
  .project {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
  }
}

.projects-article {
  padding: 20px;
}
.projects-article .button-primary {
  margin-right: 15px;
}
@media (min-width: 992px) {
  .projects-article {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
  }
}

.project-img {
  width: 100%;
  max-width: 495px;
  border-radius: 5px;
  padding: 20px;
  left: auto;
  object-fit: scale-down;
}

h3 {
  font-size: 24px;
  text-align: left;
  font-weight: 500;
  line-height: 28px;
  padding: 10px;
}

.contact {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 40px;
  background-color: #6608c5;
  color: #fff;
  clip-path: polygon(100% 1%, 0% 25%, 0% 100%, 30% 100%, 100% 100%);
  text-align: justify;
}

.footer {
  text-align: center;
}
.footer .footer-link {
  text-align: center;
}

.social-item {
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
}
.social-item .social-link {
  display: block;
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
}

.github {
  background-image: url(../../assets/icons/icon-github.png);
}

.linkedln {
  background-image: url(../../assets/icons/icon-linkedin.png);
}

.twitter {
  background-image: url(../../assets/icons/icon-twitter.png);
}

.youtube {
  background-image: url(../../assets/icons/icon-youtube.png);
}

/*# sourceMappingURL=index.css.map */
