:root {
  --color-text-primary: #002324;
  --color-text-secundary: #fff;
  --color-primary: #6608c5;
  --color-secondary: #fff;
}

/* styles reset*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}

ul {
  padding: 0%;
  margin: 0%;
  list-style-type: none;
}

/* end of styles reset*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.header-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--color-text-primary);
}

.header-title span {
  color: var(--color-primary);
}

h2 {
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  line-height: 1.4;
}

.about {
  padding: 30px 0;
  color: var(--color-text-secundary);
  background-color: var(--color-primary);
}

@media (min-width: 992px) {
  .about-content {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
  }
}

.about-img {
  width: 100%;
  max-width: 400px;
}

.about-description {
  margin: left 30px;
  padding-left: 20px;
}

.about-quote {
  text-align: center;
}

@media (min-width: 992px) {
  .project-article {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
  }
}

.social-link {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 50%;
}

.github {
  background-image: url(../../assets/icons/icon-github.png);
}

/*buttons */
.button {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.2s;
}

.button-primary {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.button-primary:hover {
  color: var(--color-text-secundary);
  background-color: var(--color-primary);
}

.button-secondary {
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}

.button-secondary:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.button-tertiary {
  background: var(--color-primary);
  color: var(--color-secondary);
  border: 2px solid var(--color-primary);
}

.button-tertiary:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.button-medium {
  padding: 15px 20px;
}

/* end of buttons */
